services:
  identifier:
    restart: "no"
  dispatcher:
    restart: "no"
  frontend:
    restart: "no"
  login:
    restart: "no"
  kimai-sync:
    restart: "no"
  migrations:
    volumes:
      - ./config/dev-migrations:/data/migrations/dev/
    restart: "no"
  delta-notifier:
    restart: "no"
  registration:
    restart: "no"
  cache:
    restart: "no"
  resource:
    restart: "no"
  database:
    restart: "no"
  triplestore:
    restart: "no"
